.coin__cart {
  width: 18rem;
  background-color: var(--coin-cart-bg);
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.coin__cart__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.coin__cart__heading {
  color: var(--title-color);
  font-size: var(--normal-font-size);
}

.coin__cart__details {
  color: var(--text-color);
  font-size: var(--small-font-size);
  margin-top: 0.8rem;
}

.coin__cart__details p {
  margin-bottom: 1rem;
}
